<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGGE</title>
    <link rel="stylesheet" href="/pagge-web/resources/css/home/homeGridStyle.css">
</head>

<body>
    <div id="menuLateral" class="sidebarMenu">
        <a class="navBtn" onclick="onClickNav()">&#9776;</a>
        <div class="menuLateralTop">
            <a class="link" onclick="navigateUsuario()">
                <label hidden for="link">Livros</label>
                <img src="/pagge-web/resources/icons/Livros.png">
            </a>
            <a class="link" href="#">
                <label hidden for="link">Usuários</label>
                <img src="/pagge-web/resources/icons/Usuarios.png">
            </a>
            <a class="link" href="#">
                <label hidden for="link">Empréstimos e Devoluções</label>
                <img src="/pagge-web/resources/icons/Emprestimos.png">
            </a>
        </div>
        <div class="menuLateralBottom">
            <a class="link" href="#">
                <label hidden for="link">Suporte</label>
                <img src="/pagge-web/resources/icons/Suporte.png">
            </a>
            <a class="link"href="#">
                <label hidden for="link">Home</label>
                <img src="/pagge-web/resources/icons/Home.png">
            </a>
        </div>
    </div>
    <div class="conteudo">

    </div>

    <script type="text/javascript" src="/pagge-web/services/home/homeService.js"></script>
</body>

</html>