@import url('../base.css');

body {
    padding: 0px 30px 0px 30px;

}

.header {
    text-align: center;
    width: 100%;
    display: flex;
}

.bntFechar {
    cursor: pointer;
    border: 0;
    margin-top: 10px;
    background-color: white;
    color: var(--dark-blue);
    width: 30px;
    height: auto;
}

.bntFechar img{
    width: 100%;
}

.formLivro {
    width: 100%;
    display: flex;
}

.formCampos {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: var(--dark-blue);

}

label{
    font-size: 23px;
}

.imgLivro {
    width: 40%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLivro img {
    height: 90%;
}

.imgLivro .livroVazio{
    height: 80%;
    width: 60%;
    background-color: rgb(177, 177, 177);
}

.footer {
    display: flex;
    justify-content: end;
}

.bntSalvar {
    position: fixed;
    bottom: 10px;
}

.buscaIsbn {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.campoIsbn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btnBuscaIsbn{
    margin-left: 10px;
    margin-top: 23px;
}