<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/livro/livroGridStyle.css">
 

</head>

<body>
    <div class="geral">
        <div class="menuLateral"></div>

        <div class="filtro">
            <div class="tituloPagina">
                <h4>Busca de Livros</h4>
            </div>

            <div class="filtroCampos">
                <div id="campoCodigo">
                    <label for="codigo">Código:</label>
                    <input type="number" name="codigo" id="codigo">
                </div>

                <div>
                    <label for="titulo">Título:</label>
                    <input type="text" name="titulo" id="titulo">
                </div>

                <div>
                    <label for="autor">Autor:</label>
                    <input type="text" name="autor" id="autor">
                </div>

                <div>
                    <label for="editora">Editora:</label>
                    <input type="text" name="editora" id="editora">
                </div>

                <div>
                    <label for="genero">Gênero:</label>
                    <input type="text" name="genero" id="genero">
                </div>

                <div id="campoIsbn">
                    <label for="isbn">Isbn:</label>
                    <input type="text" name="isbn" id="isbn">
                </div>

                <div>
                    <label for="status">Status:</label>
                    <select  name="status" id="status">
                        <option hidden value="">Selecione...</option>
                        <option value="0">Indisponivel</option>
                        <option value="1">Disponivel</option>
                    </select>
                </div>
            </div>

            <div class="filtroBotoes">
                <button class="btnAdicionar btn-rouded">
                    <img src="static/icons/icon-add.png" alt="">
                </button>

                <button class="btnRelatorio btn-rouded">
                    <img src="static/icons/icon-folha.png" alt="">
                </button>

                <button class="btnPesquisa btn-rouded">
                    <img src="static/icons/icon-lupa.png" alt="">
                </button>

            </div>

        </div>
        <table class="tabelaLivro">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editora</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Página</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>1984</td>
                    <td>George Orwell</td>
                    <td>Companhia das Letras</td>
                    <td>Ficção distópica</td>
                    <td>416</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>O Pequeno Príncipe</td>
                    <td>Antoine de Saint-Exupéry</td>
                    <td>Agir</td>
                    <td>Ficção infantojuvenil</td>
                    <td>96</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>O Senhor dos Anéis: A Sociedade do Anel</td>
                    <td>J.R.R. Tolkien</td>
                    <td>Martins Fontes</td>
                    <td>Fantasia</td>
                    <td>576</td>
                </tr>
                <tr>
                    <td scope="row">4</td>
                    <td>O Senhor dos Anéis: A Sociedade do Anel</td>
                    <td>J.R.R. Tolkien</td>
                    <td>Martins Fontes</td>
                    <td>Fantasia</td>
                    <td>576</td>
                </tr>
            </tbody>
        </table>
    </div>



    <script type="module" src="static/services/livros/livroService.js"></script>
</body>

</html>