<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/app.css">
    <title>PAGGE</title>
</head>

<body>
    <div style="width: 100%; position: fixed; top: 0;left: 0;">
        <div class="menuLateral"></div>
    </div>
    <div style="width: 100%;
                height: 100vh;
                display: flex;
                border: 1px solid black;
                justify-content: center;
                align-items: center;">
        <img style="width: 25%;" src="/static/icons/Logo.png" alt="" srcset="">
    </div>

    <script type="module" th:src="@{/static/services/home/homeService.js}"></script>
</body>

</html>